<div class="nested-fields row margin-top-5">
  <div class="col-md-10">
    <div class="attachments">
      <fieldset>
        <div class="col-md-12">
          <%= render 'attachments/file', attachment: attachment%>
        </div>
      </fieldset>
    </div>
  </div>
</div>
