<article class="news-article">
  <header>
    <h3><%= avatar(news.user) %>
      <%= link_to h(news.title), news_path(news) %>
    </h3>
    <p class="author"><%= authoring news.created_at, news.user %></p>
  </header>
  <div class="wiki">
    <%= news.summary.html_safe %>
  </div>
</article>