<div class="row" style="margin-bottom: 10px">
  <div class="col-md-12 ">
    <div class="pull-right">
      <% if can?(:manage_roles) %>
          <%= delete_button(role_path(@role) ) %>
      <% end %>
      <%= show_button(roles_path, 'Cancel', 'arrow-left', 'primary') %>
    </div>
  </div>
</div>
