<section id="widget-grid" class="show_customer_account">
  <%= render partial: 'action_menu' %>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     email_template: @email_template,
                     wid_id: 'email_template',
                     wid_title: "Edit Email Template"
                 } %>
    </article>
  </div>
</section>
